<%- include("layout/navbar.ejs") %>

<%- include("logout.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add blog</title>
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/logout.css">

</head>
<body>
    <h1>This is Addblog Page</h1>
</body>
</html>