<%- include("layout/navbar.ejs") %>
<%- include("logout.ejs") %>
<%- include("layout/footer.ejs") %>


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard</title>
<link rel="stylesheet" href="/style/dashboard.css">
<link rel="stylesheet" href="/style/navbar.css">
<link rel="stylesheet" href="/style/logout.css">
<link rel="stylesheet" href="/style/footer.css">
</head>
<body>


<div class="container">
  <img src="background-image.jpg" alt="Background-image" class="background-image">
    <h2 class="dashboard-title">Welcome to Node js</h2>
    <p class="dashboard-content">This is Node js content.</p>
    
    
    <h3 class="node-title"> About Node js</h3>
    <p class="node-content">Aliquam erat volutpat. Vivamus in hendrerit lectus. Nulla facilisi. Sed in varius nunc. Integer eu metus vel purus cursus congue. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptate natus ab doloremque expedita voluptatibus fugiat atque consectetur obcaecati. Illo assumenda cum dolores ex ratione quas consequatur numquam sequi ipsa.
    Ea suscipit aliquid deserunt voluptate repellendus cum eum consequatur perferendis, amet in adipisci repellat vel provident sunt facere, a culpa? Ratione necessitatibus incidunt, eum enim ipsum placeat porro illum accusantium?
    Excepturi similique temporibus expedita reiciendis officiis perspiciatis ut animi est esse quae, vel nam voluptates amet nostrum eaque ipsam tempora necessitatibus laborum in eius mollitia sit illum. Deserunt, beatae error!
    Illum eum necessitatibus sequi eius harum eos alias dolore molestiae voluptatem, autem, iure ut quasi! Nam architecto explicabo asperiores eligendi sequi, maxime illum ducimus recusandae? Consequatur accusamus voluptatibus quibusdam quos!
    Optio nam nulla, error voluptatibus quibusdam quo unde quisquam aspernatur et nihil minus. Laudantium quia placeat impedit facere animi pariatur ratione explicabo labore! Minima incidunt quod voluptatum suscipit facere eveniet!
    Sint delectus possimus sapiente eaque vitae dicta inventore sed eum ad, odit laudantium odio, cum perspiciatis minima, facilis quibusdam voluptate. Ad eveniet voluptatum qui labore in non eius dolores numquam!
    Ducimus quis excepturi voluptatum eum, velit rem quam, odit at quibusdam error, sequi temporibus! Ipsa vitae, rerum molestiae qui quo laboriosam officiis aliquam eum corrupti, sed in aperiam quis dolor!
    Saepe, velit, odit deserunt iure praesentium esse harum amet minima officiis ab voluptatibus officia tenetur eos! Hic delectus consectetur qui ab. Praesentium nesciunt debitis aliquid repudiandae quae laudantium dignissimos perspiciatis.
    At ipsam nihil facere ullam aperiam provident voluptate debitis voluptates facilis laboriosam vel et, adipisci, error assumenda velit tenetur incidunt fugit ducimus asperiores exercitationem minima. Temporibus perferendis ipsum at earum!
    Animi libero deleniti quasi illum modi possimus nisi perferendis quisquam ullam, nobis, cupiditate maxime consequatur ipsum quam fugiat dignissimos eius iure. Nihil assumenda illum cupiditate quibusdam totam quod dolor cum.</p>
</div>


<!-- <div class="footer">
    &copy; 2023 nodejs All rights reserved.
  </div> -->



</body>
</html>
