<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node js Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <div class="navbar">
        <a href="#" class="navbar-logo">
          <img src="logo.png" alt="Logo">
          Node Project
        </a>

        <ul class="navbar-links">
          <li><a href="/home" class="nav-link" data-tooltip="Home"><i class="fas fa-home"></i></a></li>
          <li><a href="/aboutUs" class="nav-link" data-tooltip="About Us"><i class="fas fa-info-circle"></i></a></li>
          <li><a href="/addblog" class="nav-link" data-tooltip="Add Blog"><i class="fas fa-plus"></i></a></li>
          <li><a href="/contactUs" class="nav-link" data-tooltip="Contact Us"><i class="fas fa-envelope"></i></a></li>
          <!-- <li><a href="/Logout" onclick="return confirm('Are you sure you want to logout?')" >Logout</a></li> -->
          <li><a href="#" id="logout-link" class="nav-link" data-tooltip="Logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>

      </div>

      
          

</body>
</html>